NEXT_PUBLIC_COUPLES_NAME=
NEXT_PUBLIC_WEDDING_LOCATION_AND_DATE=
ADMIN_PASSWORD=
NEXT_AUTH_SECRET=
NEXT_PUBLIC_NEXTAUTH_URL=
USER_EMAIL=
ADMIN_EMAIL=
NEXT_AUTH_USERNAME=
NEXT_AUTH_PASSWORD=
MONGODB_URI=
MONGODB_DB=
SENDGRID_API_KEY=
NEXT_PUBLIC_MAIN_IMAGE=
